.customer-list-item {
  flex-basis: calc(100% / 6 - 30px);
}

.customer-link {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-fill-color);
  border-radius: 4px;
  color: var(--icon-fill-color);
  transition: color var(--duration-cubic), border-color var(--duration-cubic);
}

.customer-link:hover,
.customer-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.customer-logo {
  fill: currentColor;
}
